<div class="d-flex flex-column w-100 h-100 bg-black" style="overflow: hidden;">
    <div class="d-flex w-100 py-2" style="min-height: fit-content;">
        <button mat-icon-button  mat-dialog-close class="ms-auto text-white">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="d-flex w-100" style="height: calc(100% - calc(128px + 64px));">
        <div class="d-flex h-100 me-auto">
            <button mat-icon-button class="my-auto text-white" (click)="previousImage()" [disabled]="selectedIndex === 0">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>

        <div class="d-flex w-100 h-100">
            <img class="w-100 h-100" [src]="selectedImage" alt="Current Image Previewed" style="object-fit: contain;" onerror="this.parentElement.remove();">
        </div>

        <div class="d-flex h-100 ms-auto">
            <button mat-icon-button class="my-auto text-white" (click)="nextImage()" [disabled]="selectedIndex === data.images.length - 1">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>

    <div class="d-flex w-100 px-sm-9 py-2 py-sm-3">
        <div class="d-flex h-100 me-auto">
            <button mat-icon-button class="my-auto text-white" (click)="imageQuickViewWrapperBox.scrollBy({top: 0, left: -192})">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>

        <div #imageQuickViewWrapperBox class="d-flex px-2 preview-wrapper" style="overflow-x: auto;">
            <div #imageQuickViewBox *ngFor="let item of data.images; index as i;" class="d-flex px-1 position-relative"
                style="min-width: 96px; max-width: 96px; height: 96px; cursor: pointer;" (click)="viewImage(i)">
                <img class="w-100 h-100" [src]="item.src" alt="Gallery Image" style="object-fit: contain;" onerror="this.parentElement.remove();">
                <div class="d-flex w-100 h-100 position-absolute" [ngStyle]="{'background-color': selectedIndex === i ? '#00000096' : ''}"></div>
            </div>
        </div>

        <div class="d-flex h-100 ms-auto">
            <button mat-icon-button class="my-auto text-white" (click)="imageQuickViewWrapperBox.scrollBy({top: 0, left: 192})">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>
