<main class="d-flex flex-column w-100" style="height: 100vh; background: url(https://storage.googleapis.com/gci-static-assets/yag/fellowship-background.jpeg), no-repeat; background-color: #F00;
    background-repeat: no-repeat;
    background-size: cover; background-blend-mode: multiply, normal;">
    <!-- INFO Hero-ish -->
    <div class="d-flex flex-column w-100 h-100 yag-heroish-wrapper">
        <!-- INFO Wrapper for the hero text -->
        <div class="d-none d-sm-flex flex-column m-auto p-2 p-sm-0">
            <span class="mx-auto mb-0 mat-headline-2 text-center fw-bolder text-uppercase text-white yag-hero--text" style="line-height: 120%;">A community of</span>
            <span class="mx-auto mb-0 mat-headline-2 text-center fw-bolder text-uppercase text-white yag-hero--text" style="line-height: 120%;">vibrant firebrands!</span>
        </div>

        <!-- INFO Small screen -->
        <div class="d-flex d-sm-none flex-column m-auto p-2 p-sm-0">
            <span class="mx-auto mb-0 mat-headline-3 text-center fw-bolder text-uppercase text-white yag-hero--text"
                style="line-height: 120%;">A community of vibrant firebrands!</span>
        </div>
    </div>
</main>

<!-- INFO WHAT IS YAF! -->
<section class="d-flex flex-column w-100 px-3 px-lg-5 py-9">
    <div class="d-flex flex-wrap-reverse container">
        <!-- INFO Text -->
        <div class="d-flex flex-column col-12 col-sm-6 mb-3 mb-sm-0 p-2">
            <span class="mt-auto mb-4 fw-bolder mat-headline-3" style="line-height: 120%;">What is YAF!</span>
            <span class="mb-3" style="line-height: 160%;">YAF Stands for YOUTH ALIVE FELLOWSHIP. It is the flagship community to gather youths and nurture the next generation of
            Kingdom giants</span>
            <span class="mb-auto" style="line-height: 160%;">YAF exist in all our church locations around the globe and in headed by the resident youth coordinator.</span>
        </div>
        <!-- INFO Image -->
        <div class="col-12 col-sm-6 mb-5 mb-sm-0">
            <img class="w-100 rounded-4" src="https://storage.googleapis.com/gci-static-assets/yag/what-is-yaf.jpeg" alt="What is YAF!" style="height: 306px; object-fit: cover; object-position: center;">
        </div>
    </div>
</section>

<!-- INFO Why you should be part of us -->
<section class="d-flex flex-column w-100 px-3 px-lg-5 py-9 patterned-background">
    <div class="d-flex flex-column flex-nowrap container">
        <!-- INFO Text -->
        <div class="d-flex flex-column col-12 mb-4 p-2">
            <span class="mx-auto mb-0 fw-bolder mat-headline-3 text-center text-uppercase" style="line-height: 120%;">Why you should</span>
            <span class="mx-auto mb-4 fw-bolder mat-headline-3 text-uppercase" style="line-height: 120%;">be part of us</span>
            <span class="mx-auto text-center" style="line-height: 160%;">Welcome to the Winners Youth Alive! We are a vibrant community committed to
                nurturing young hearts and minds in faith.
                Our mission is to create a safe and inclusive space where young individuals can explore their
                spirituality, build
                meaningful connections, and grow into compassionate leaders. Our dedicated team of pastors, mentors, and
                volunteers work
                tirelessly to organize engaging events, weekly gatherings, service projects, and educational programs.
                We believe in
                fostering a culture of respect, understanding, and support.</span>
        </div>
    </div>
</section>

<!-- INFO Why you should be part of us -->
<section class="d-flex flex-column w-100 px-3 px-lg-5 py-9 patterned-background">
    <div class="d-flex flex-column flex-nowrap container">
        <!-- INFO Text -->
        <div class="d-flex flex-column col-12 mb-4 p-2">
            <span class="mb-4 fw-bolder mat-headline-3 text-uppercase" style="line-height: 120%;">Why you should be part of us</span>
            <span style="line-height: 160%;">Welcome to the Winners Youth Alive! We are a vibrant community committed to nurturing young hearts and minds in faith.
            Our mission is to create a safe and inclusive space where young individuals can explore their spirituality, build
            meaningful connections, and grow into compassionate leaders. Our dedicated team of pastors, mentors, and volunteers work
            tirelessly to organize engaging events, weekly gatherings, service projects, and educational programs. We believe in
            fostering a culture of respect, understanding, and support.</span>
        </div>
        <!-- INFO Image -->
        <div class="col-12">
            <div class="d-flex flex-wrap">
                <div class="col-12 col-sm-5 mb-3 mb-sm-0 pe-sm-2">
                    <img class="w-100 rounded-4"
                        src="https://storage.googleapis.com/gci-static-assets/yag/who-should-be-part-of-us-1.jpeg" alt="What is YAF!"
                        style="height: 386px; object-fit: cover; object-position: center;">
                </div>
                <div class="col-12 col-sm-7 ps-sm-2">
                    <img class="w-100 rounded-4"
                        src="https://storage.googleapis.com/gci-static-assets/yag/who-should-be-part-of-us-2.jpeg" alt="What is YAF!"
                        style="height: 386px; object-fit: cover; object-position: center;">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- INFO What makes us a vibrant family! -->
<section class="d-flex flex-column w-100 px-3 px-lg-5 py-9 patterned-background">
    <div class="d-flex flex-column flex-nowrap container">
        <!-- INFO Text -->
        <div class="d-flex flex-column col-12 mb-4 p-2">
            <span class="mb-4 fw-bolder mat-headline-3 text-uppercase" style="line-height: 120%;">What makes us a vibrant family!</span>
            <span style="line-height: 160%;">Our dynamic youth arm of the church beckons you to be part of a community ablaze with inspiration, friendship, and
            shared purpose for the kingdom. Here at youth alive we experience the warmth of belonging as we ignite a fired community
            that empowers, uplifts, and fuels your journey towards spiritual growth and meaningful connections. Together, let's
            embark on a transformative adventure where the flame of faith lights the way for each and every member of Youth Alive.</span>
        </div>
        <!-- INFO Image -->
        <div class="col-12">
            <img class="w-100 rounded-4" src="https://storage.googleapis.com/gci-static-assets/yag/what-makes-us-vibrant-family.jpeg"
                alt="What is YAF!" style="height: 386px; object-fit: cover; object-position: center;">
        </div>
    </div>
</section>

<app-faqs></app-faqs>

<app-join-community-cta></app-join-community-cta>
