<main class="d-flex flex-column w-100" style="height: 100vh; background: linear-gradient(97deg, rgba(0, 0, 0, 0.20) 52.7%, rgba(0, 0, 0, 0.00) 77.04%), linear-gradient(191deg, rgba(0, 0, 0, 0.30) 20.18%, rgba(0, 0, 0, 0.00) 77.23%), url(https://storage.googleapis.com/gci-static-assets/yag/word-up-background.jpeg); background-position: 50%;
    background-size: cover; background-repeat: no-repeat;">
    <!-- INFO Hero-ish -->
    <div class="d-flex flex-column w-100 h-100 px-3 px-sm-9 yag-heroish-wrapper">
        <!-- INFO Wrapper for the hero text -->
        <div class="d-flex flex-column m-auto">
            <span class="mx-auto mb-3 mat-headline-1 text-capitalize text-white yag-hero--text" style="font-family: 'Rebellion Knight Personal Use O';">Coming</span>
            <span class="mx-auto mb-0 mat-headline-1 text-capitalize text-white yag-hero--text" style="font-family: 'Rebellion Knight Personal Use O';">Soon</span>
        </div>
    </div>
</main>

<app-join-community-cta></app-join-community-cta>
