<!-- INFO CTA to find campus/contact -->
<section class="d-flex flex-column w-100 px-2 px-sm-0 py-3 py-md-5 yag-campus-corpers-cta">
    <div class="d-flex flex-column m-auto px-4 py-3 py-md-5 rounded-4">
        <span class="mx-auto mt-auto mb-0 mat-headline-3 text-white fw-bolder text-center">{{ ctaHeading }}</span>

        <span class="mx-auto mt-4 text-center text-white">contact us today</span>

        <button mat-stroked-button
            class="mx-auto mt-4 mt-md-5 mb-auto px-3 px-sm-5 py-2 py-4 border-white border-1 rounded-pill text-white">Contact
            us!</button>
    </div>
</section>
